<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.clara.beesightings"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BeeSightingReportActivity"/>
        <activity android:name=".ManageSightingsActivity"/>
        <activity android:name=".MapActivity"/>

        <!--Required to use Google maps -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--TODO create a file res/values/keys.xml containing a string resource called map_key with your own Google Maps key in-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

    </application>

</manifest>
